<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>Bienvenido, {{email}}</h1>
        <p id="expirationInfo">Token expira en: <span id="countdown">{{expiresIn}}</span> segundos</p>
        <a href="#" onclick="accederRutaRestringida('{{token}}')">Ir a la ruta restringida</a>
        <p id="serverResponse"></p>
    </div>
    <script>
        sessionStorage.setItem('token', '{{token}}');
        let countdownInterval;

        function accederRutaRestringida(token) {
            clearInterval(countdownInterval);
            const url = '/rutaRestringida?token=' + token;
            window.open(url, '_blank');
            document.getElementById('expirationInfo').style.display = 'none';
            document.getElementById('serverResponse').innerHTML = '<p>Abriendo la ruta restringida...</p>';
        }

        function startCountdown() {
            const countdownElement = document.getElementById('countdown');
            let expiresInSec = {{expiresIn}};

            countdownInterval = setInterval(() => {
                countdownElement.textContent = expiresInSec;
                expiresInSec--;

                if (expiresInSec < 0) {
                    clearInterval(countdownInterval);
                    countdownElement.textContent = '0';
                    document.getElementById('expirationInfo').textContent = 'Token ha expirado.';
                }
            }, 1000);
        }

        startCountdown();
    </script>
</body>

</html>


